{% extends '::dashboard_base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('operator') }}">
                Операторы
            </a>
        </li>
        <li>
            <a href="{{ path('operator_new') }}">
                Добавить оператора
            </a>
        </li>
        <li class="active">Редактирование оператора</li>
    </ul>

    <div class="col-md-4 column">
        {{ form(edit_form) }}
        <br/>
        <ul class="record_actions list-inline">
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>


{% endblock %}
