<h1>Поздравляем, вы вступили в клуб Banga Bar!</h1>

<p>
После авторизации вам будет доступен новый раздел в меню - “Магазин”. В ближайшее время вы получите на почту всю подробную информацию.
    <br/>

    <ul>
        <li>Логин/Эл. почта: {{ customer.email }}</li>
        <li>Пароль: {{ customer.password }}</li>
    </ul>
</p>