<div class="popup hidden register_form">
    <header class="popup-head grey cf">
        <span class="title left">Регистрация</span>
        <a class="close-popup right" href="#">закрыть</a>
    </header>

    <form action="">
        <div class="inputs">
            <div class="input error">
                <label for="email">Ваша электронная почта</label>
                <input id="email" type="email" name="email"/>
            </div>
            <div class="input">
                <label for="password">Введите пароль</label>
                <input id="password" type="password" name="password"/>
            </div>
            <div class="input">
                <label for="confirm_password">Введите пароль</label>
                <input id="confirm_password" type="password" name="confirm_password"/>
            </div>
            <div class="input">
                <label for="promo_code">Укажите ваш промокод</label>
                <input id="promo_code" type="text" name="promo_code"/>
            </div>
        </div>
        <div class="error msg">
            Вы не указали адрес электронной почты! все поля должны быть заполнены!
        </div>
        <div class="submit buttons">
            <input class="button button-submit register" type="submit" value="Зарегистрироваться"/>
        </div>
    </form>
</div>