{% extends '::dashboard_base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('promocode') }}">
                Промо коды
            </a>
        </li>
        <li>
            <a href="{{ path('promocode_new') }}">
                Добавить промо код
            </a>
        </li>
        <li>Редактирование промо кода</li>
    </ul>

    <div class="col-md-4 column">
        {{ form(edit_form) }}
        <br/>
        <ul class="record_actions list-inline">
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>

{% endblock %}
