{% extends '::dashboard_base.html.twig' %}

{% block body -%}
    <ul class="record_actions breadcrumb">
        <li>
            <a href="{{ path('promocode') }}">
                Промо Коды
            </a>
        </li>
        <li class="active">Добавить промо код</li>
    </ul>

    <div class="col-md-4 column">
        {{ form(form) }}
    </div>



{% endblock %}
