{% extends '::dashboard_base.html.twig' %}

{% block body -%}

    <ul class="record_actions breadcrumb">
        <li>
            <a href="{{ path('blogentry') }}">
                Посты
            </a>
        </li>
        <li>Добавить Пост</li>
    </ul>

    <div class="col-md-8 column">
        {{ form(form) }}
    </div>

{% endblock %}
